<div class="section section_eighth">
  <div class="platforms-block">
    <div class="container">
      <div class="platform-head">
        <div class="title">OUR TRADING PLATFORMS</div>
      </div>
      <div class="platform-items">
        <div class="row">
          <div class="zoomInUp col-md-4 col-sm-6 col-xs-12">
            <div class="item">
              <div class="icon svg-icon-window"></div>
              <div class="platform-name">MT for web</div>
            </div>
            <div class="item">
              <div class="icon svg-icon-apple"></div>
              <div class="platform-name">MT for ios</div>
            </div>
          </div>
          <div class="zoomInUp col-md-4 col-sm-6 col-xs-12">
            <div class="item">
              <div class="icon svg-icon-windows"></div>
              <div class="platform-name">MT for Windows</div>
            </div>
            <div class="item">
              <div class="icon svg-icon-android"></div>
              <div class="platform-name">MT for Android</div>
            </div>
          </div>
          <div class="zoomInUp col-md-4 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-md-12 col-sm-6 col-xs-12 item">
                <div class="icon svg-icon-imac"></div>
                <div class="platform-name">MT for mac</div>
              </div>
              <div class="col-md-12 col-sm-6 col-xs-12 item">
                <div class="icon svg-icon-window"></div>
                <div class="platform-name">MT for cuboid online</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
