<div class="section section_fives">
  <div class="testimonials-block">
    <div class="container">
      <div class="testimonials-head anLeft">
        <h2 class="title-sub-icon black">Testimonial <i class="icon svg-icon-cloud"></i>
        </h2>
      </div>
      <div class="testimonials-slider">
        <div class="item">
          <div class="img" style="background-image: url(img/block-testimonial/testim-1.jpg)">
            <div class="icon svg-icon-play"></div>
          </div>
          <div class="name">Roth Eisenberg</div>
          <div class="position">Designer/Founde</div>
          <a class="site" href=""><span>tatly.com</span></a>
        </div>
        <div class="item">
          <div class="img" style="background-image: url(img/block-testimonial/testim-2.jpg)">
            <div class="icon svg-icon-play"></div>
          </div>
          <div class="name">Britany Hemfold</div>
          <div class="position">Manager</div>
          <a class="site" href=""><span>borsch.me</span></a>
        </div>
        <div class="item">
          <div class="img" style="background-image: url(img/block-testimonial/testim-3.jpg)">
            <div class="icon svg-icon-play"></div>
          </div>
          <div class="name">Bob Kirs</div>
          <div class="position">Founder —</div>
          <a class="site" href=""><span>seofarm.com</span></a>
        </div>
        <div class="item">
          <div class="img" style="background-image: url(img/block-testimonial/testim-2.jpg)">
            <div class="icon svg-icon-play"></div>
          </div>
          <div class="name">Bob Kirs</div>
          <div class="position">Founder —</div>
          <a class="site" href=""><span>seofarm.com</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
