<footer class="footer-page">
  <div class="footer-top">
    <div class="container">
      <div class="row footer-top-wrapper">
        <div class="col-md-4 col-sm-6 col-xs-12 info-item-wrapper">
          <div class="info-item">
            <div class="title">LEGAL INFORMATION</div>
            <div class="text">
              <ul class="footer-list">
                <li><a href="">INFINOX CLIENT AGREEMENT</a></li>
                <li><a href="">IB AGREEMENT</a></li>
                <li><a href="">PRIVACY POLICY</a></li>
                <li><a href="">SIPP APPLICATION FORM</a></li>
                <li><a href="">LEGAL INFORMATION</a></li>
                <li><a href="">FAIR USAGE POLICY</a></li>
                <li><a href="">CORPORATE APPLICATION</a></li>
                <li><a href="">EXECUTION ONLY RISK WARNING</a></li>
                <li><a href="">OBJECTIVES STATEMENT</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 info-item-wrapper">
          <div class="info-item">
            <div class="title">About us</div>
            <div class="text">
              <p>Spreads From 0.5 pips - Leverage Up To 300:1 - No Requotes Trade Online 24/5 - Forex. Indices.
                Commodities. Options</p>
              <p>INFINOX CAPITAL Ltd is a company registered in England and Wales under number 06854853. Registered
                Ofice:
                Birchin Court 20 Birchin Lane, London, EC3V 9DU, United Kingdom</p>
              <p>INFINOX is a major provider of online foreign exchange (Forex) trading services, ofering margin FX and
                commodities trading to individuals and institutional clients worldwide.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 info-item-wrapper info-item-wrapper_contacts">
          <div class="info-item">
            <div class="title">CONTACTS</div>
            <div class="text">
              <div class="contacts-info">
                <a class="contact-email" href="mailto:support@infinox.com">support@infinox.com</a>
                <a class="contact-phone" href="tel:+44(0)20 3713 4490">+44(0)20 3713 4490</a>
              </div>
            </div>
          </div>
          <div class="info-item info-item_fca">
            <div class="title">FCA REGULATED</div>
            <div class="text">
              <p>NFINOX CAPITAL Ltd Is authorised and regulated by the
                Financial Conduct Authority under firm reference number 501057.</p>
            </div>
          </div>
          <div class="info-item info-item_payments">
            <div class="title">we accept</div>
            <div class="text">
              <div class="payment-items">
                <div class="payment-items-wrap">
                  <div class="item"><img src="img/payment-method/mastercard.png" alt=""></div>
                  <div class="item"><img src="img/payment-method/visa.png" alt=""></div>
                  <div class="item"><img src="img/payment-method/skrill.png" alt=""></div>
                </div>
                <div class="payment-items-wrap">
                  <div class="item"><img src="img/payment-method/bank-transfer.png" alt=""></div>
                  <div class="item"><img src="img/payment-method/union-pay.png" alt=""></div>
                  <div class="item"><img src="img/payment-method/neteller.png" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="col-md-4 col-sm-6 col-xs-12 info-item-wrapper info-item-wrapper_fca">
          <div class="info-item">
            <div class="title">FCA REGULATED</div>
            <div class="text">
              <p>NFINOX CAPITAL Ltd Is authorised and regulated by the
                Financial Conduct Authority under firm reference number 501057.</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12 info-item-wrapper">
          <div class="info-item">
            <div class="title">Disclaimer</div>
            <div class="text">
              <p>Trading Derivatives and FOREX carries a high level of risk to your capital including losing more than
                your initial expenditure. The efect of leverage is that both gains and losses are magnified . You should
                only trade Forex if you can afford to carry these risks. The historical financial performance of any
                underlying instrument is no guarantee or indicator of future performance. Trading Derivatives and FOREX
                may not be suitable for all investors, so please ensure that you fully understand the risks involved,
                and
                seek independent advice if necessary.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-wrapper">
        <div class="copyright">&copy; 2016 INFINOX CAPITAL Ltd</div>
        <div class="footer-socials">
          <ul class="social-list">
            <li class="social-footer"><a href=""><i class="fa fa-facebook"></i></a></li>
            <li class="social-linkedin"><a href=""><i class="fa fa-linkedin"></i></a></li>
            <li class="social-twitter"><a href=""><i class="fa fa-twitter"></i></a></li>
            <li class="social-googleplus"><a href=""><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>