<div class="section section_fours">
  <div class="trade-block">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="trade-info">
            <div class="info-head">
              <h2 class="title-sub-icon black anLeft">Learn<br/>
                to trade <i class="icon svg-icon-book"></i>
              </h2>
            </div>
            <div class="info-bg-wrapper">
              <div class="info-bg"><img src="img/bg/bg-fours-section.jpg" alt=""></div>
            </div>
            <div class="info-content anLeft1">
              <h3>Our ecosystem enables and empowers our clients. </h3>
              <div class="text">
                <p>
                  Practice accounts, feefree trading accounts low deposits are supported by our
                  products and tools to aid training and education, and enhance
                  clients’ knowledge and trading performance.
                </p>
              </div>
            </div>
            <div class="info-buttons anLeft2">
              <div class="button-with-note">
                <div class="btn btn_yellow">Watch guides</div>
                <div class="note">Forex | Commodities | Indexes</div>
              </div>
              <div class="button-with-note">
                <div class="btn btn_border bg-white">Webinar schedule</div>
                <div class="note">Join our webinars and learn from experts</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
