<header class="page-header">
  <div class="main-header">
    <div class="block-logo">
      <button class="c-hamburger c-hamburger--htx">
        <span></span>
      </button>
      <a class="logo" href="/" title="">
        <img src="img/logo.png" alt="">
      </a>
      <div class="menu-desktop">
        <ul class="menu-list">
          <li>
            <span class="menu-name">Trade</span>
            <div class="submenu-dropdown">
              <div class="container">
                <div class="submenu-content clearfix">
                  <ul class="submenu-list">
                    <li><a href="">Forex</a></li>
                    <li><a href="">indices</a></li>
                    <li><a href="">commodities</a></li>
                  </ul>
                  <ul class="submenu-list">
                    <li><a href="">infifox vt4 pro</a></li>
                    <li><a href="">infifox mt4</a></li>
                    <li><a href="">spread</a></li>
                  </ul>
                  <ul class="submenu-list">
                    <li><a href="">Webtrade</a></li>
                    <li><a href="">desktop & Mobile apps</a></li>
                    <li><a href="">infifox vps</a></li>
                  </ul>
                  <div class="banner-block">
                    <div class="banner-img"><img src="img/banners/banner-trade.png" alt=""></div>
                    <div class="banner-content">
                      <div class="banner-title">
                        WATCH VIDEO GUIDES<br/>
                        AND PARTICIPATE IN WEBINARS
                      </div>
                      <a class="banner-button" href="#" title="">Get it</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <span class="menu-name">Learn</span>
            <div class="submenu-dropdown">
              <div class="container">
                <div class="submenu-content clearfix">
                  <ul class="submenu-list">
                    <li><a href="">EDUCATION CENTER</a></li>
                    <li><a href="">FOREX BASICS</a></li>
                    <li><a href="" class="icon-play-wrap"><i class="icon icon-play"></i><span>VIDEOS</span></a></li>
                  </ul>
                  <ul class="submenu-list">
                    <li><a href="">FAQ</a></li>
                    <li><a href="">INTERACTIVE VIDEO COURSE</a></li>
                    <li><a href="" class="icon-video-wrap"><i class="icon icon-video"></i><span>WEBINARS</span></a></li>
                  </ul>
                  <div class="banner-block">
                    <div class="banner-img"><img src="img/banners/banner-learn.png" alt=""></div>
                    <div class="banner-content">
                      <div class="banner-title">
                        WATCH VIDEO GUIDES<br/>
                        AND PARTICIPATE<br/>
                        IN WEBINARS
                      </div>
                      <a class="banner-button" href="#" title="">WATCH NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <span class="menu-name">Platforms</span>
            <div class="submenu-dropdown">
              <div class="container">
                <div class="submenu-content clearfix">
                  <ul class="submenu-list">
                    <li><a href="">WEBTRADER</a></li>
                    <li><a href="">RANGE SPREADS</a></li>
                    <li><a href="">INFINOX MT4</a></li>
                  </ul>
                  <ul class="submenu-list">
                    <li><a href="">INFINOX MT4 EXPERT</a></li>
                    <li><a href="">INFINOX VPS</a></li>
                    <li><a href="" class="icon-phone-wrap"><i class="icon icon-phone"></i><span>MT4 MOBILE</span></a>
                    </li>
                  </ul>
                  <div class="banner-block banner-block_big">
                    <div class="banner-img"><img src="img/banners/banner-platforms.png" alt=""></div>
                    <div class="banner-content banner-content_big">
                      <div class="banner-title">
                        START TRADING<br/>
                        "DRUG AND DROP"<br/>
                        FOREX
                      </div>
                      <a class="banner-button" href="#" title="">WATCH NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <span class="menu-name">Partners</span>
            <div class="submenu-dropdown">
              <div class="container">
                <div class="submenu-content clearfix">
                  <ul class="submenu-list">
                    <li><a href="">PARTNER CENTER</a></li>
                    <li><a href="">INTRODUCTARY BROCKER</a></li>
                    <li><a href="">AFFILIATES</a></li>
                  </ul>
                  <ul class="submenu-list">
                    <li><a href="">TECHNOLOGY</a></li>
                    <li><a href="">COMMITMENT</a></li>
                  </ul>
                  <div class="banner-block banner-block_big">
                    <div class="banner-img"><img src="img/banners/banner-partners.png" alt=""></div>
                    <div class="banner-content banner-content_big">
                      <div class="banner-title">PARTNER AREA</div>
                      <div class="banner-text">platform to analyse your activities and your generated<br/> revenues
                      </div>
                      <a class="banner-button" href="#" title="">TRY IT NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="button-bar sign-up-button">
      <div class="btn btn_signup">Sign up</div>
      <div class="btn btn_login">Login</div>
    </div>
  </div>
  <div class="mobile-menu-wrap">
    <div id="mobile-menu" class="mobile-menu">
      <ul>
        <li data-banner="trade"><a href="#">Trade</a>
          <ul>
            <li><a href="">Forex</a></li>
            <li><a href="">indices</a></li>
            <li><a href="">commodities</a></li>
            <li><a href="">infifox vt4 pro</a></li>
            <li><a href="">infifox mt4</a></li>
            <li><a href="">spread</a></li>
            <li><a href="">Webtrade</a></li>
            <li><a href="">desktop & Mobile apps</a></li>
            <li><a href="">infifox vps</a></li>
          </ul>
        </li>
        <li data-banner="learn"><a href="#">Learn</a>
          <ul>
            <li><a href="">EDUCATION CENTER</a></li>
            <li><a href="">FOREX BASICS</a></li>
            <li><a href="">VIDEOS</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">INTERACTIVE VIDEO COURSE</a></li>
            <li><a href="">WEBINARS</a></li>
          </ul>
        </li>
        <li data-banner="platforms"><a href="#">Platforms</a>
          <ul>
            <li><a href="">WEBTRADER</a></li>
            <li><a href="">RANGE SPREADS</a></li>
            <li><a href="">INFINOX MT4</a></li>
            <li><a href="">INFINOX MT4 EXPERT</a></li>
            <li><a href="">INFINOX VPS</a></li>
            <li><a href="">MT4 MOBILE</a>
          </ul>
        </li>
        <li data-banner="partners"><a href="#">Partners</a>
          <ul>
            <li><a href="">PARTNER CENTER</a></li>
            <li><a href="">INTRODUCTARY BROCKER</a></li>
            <li><a href="">AFFILIATES</a></li>
            <li><a href="">TECHNOLOGY</a></li>
            <li><a href="">COMMITMENT</a></li>
          </ul>
        </li>
      </ul>
      <div class="banners">
        <div data-banner="trade" class="banner-block">
          <div class="banner-img"><img src="img/banners/banner-trade.png" alt=""></div>
          <div class="banner-content">
            <div class="banner-title">
              WATCH VIDEO GUIDES<br/>
              AND PARTICIPATE IN WEBINARS
            </div>
            <a class="banner-button" href="#" title="">Get it</a>
          </div>
        </div>
        <div data-banner="learn" class="banner-block">
          <div class="banner-img"><img src="img/banners/banner-learn.png" alt=""></div>
          <div class="banner-content">
            <div class="banner-title">
              WATCH VIDEO GUIDES<br/>
              AND PARTICIPATE<br/>
              IN WEBINARS
            </div>
            <a class="banner-button" href="#" title="">WATCH NOW</a>
          </div>
        </div>
        <div data-banner="platforms" class="banner-block banner-block_big">
          <div class="banner-img"><img src="img/banners/banner-platforms.png" alt=""></div>
          <div class="banner-content banner-content_big">
            <div class="banner-title">
              START TRADING<br/>
              "DRUG AND DROP"<br/>
              FOREX
            </div>
            <a class="banner-button" href="#" title="">WATCH NOW</a>
          </div>
        </div>
        <div data-banner="partners" class="banner-block banner-block_big">
          <div class="banner-img"><img src="img/banners/banner-partners.png" alt=""></div>
          <div class="banner-content banner-content_big">
            <div class="banner-title">PARTNER AREA</div>
            <div class="banner-text">platform to analyse your activities and your generated<br/> revenues
            </div>
            <a class="banner-button" href="#" title="">TRY IT NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
