<div class="section section_main">
  <div class="main-slider">
    <div class="item">
      <div class="bg bg_right bg_bull" style="background-image: url('img/main-slider/slide-1_1.jpg');"></div>
      <div class="container">
        <div class="item-info">
          <div class="anLeft">
            <ul class="slider-breadcrumbs">
              <li class="active">Forex</li>
              <li>Indices</li>
              <li>Commodities</li>
            </ul>
            <h2 class="slider-title">Integrity Matters</h2>
            <div class="slider-description">
              <p>We’re regulated by the UK’s Financial Conduct Authority.</p>
              <p>All client deposits are held in Barclays Bank and are protected – up to <strong
                      class="yellow">£50,000</strong> – by the FSCS</p>
            </div>
            <a class="btn-gradient slider-button" href="">
              <div class="text-top">Start trading now</div>
              <div class="text-bottom">*demo account included</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="bg bg_center bg_man" style="background-image: url('img/main-slider/slide-2.jpg');"></div>
      <div class="container">
        <div class="item-info">
          <h2 class="slider-title anLeft">Inspiring<br/>
            expertise</h2>
          <div class="slider-description">
            <p>We’re regulated by the UK’s Financial Conduct Authority.</p>
            <p>All client deposits are held in Barclays Bank and are protected – up to <strong
                    class="yellow">£50,000</strong> – by the FSCS</p>
          </div>
          <div class="slider-nav-block">
            <a class="btn-gradient slider-button" href="">
              <div class="text-top">Start trading now</div>
              <div class="text-bottom">*demo account included</div>
            </a>

            <a class="video-button" href="">
              <i class="icon svg-icon-play"></i>
              <span>play video</span>
            </a>
            <div class="video-info">
              <div class="text">
                <div class="title">why to trade<br/>
                  with infifox
                </div>
                <div class="name">Robert barkley</div>
                <div class="position">CEO</div>
              </div>
            </div>
          </div>
          <div class="video-block video-block_mobile">
            <div class="video-bg"></div>
            <a class="video-button" href="">
              <i class="icon svg-icon-play"></i>
              <span>play video</span>
            </a>
            <div class="video-info">
              <div class="text">
                <div class="title">why to trade<br/>
                  with infifox
                </div>
                <div class="name">Robert barkley</div>
                <div class="position">CEO</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>