<div class="section section_second">
  <div class="cards-block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 card-item-wrapper">
          <div class="card-item">
            <div class="item-hover">
              <div class="hover-title">WHY USE INFIFOX MOBILE?</div>
              <div class="hover-text">MT4 mobile allows you to trade on the go</div>
              <ul class="hover-list">
                <li>Full MT4 trading</li>
                <li>Blistering latensy and relyability</li>
              </ul>
            </div>
            <div class="item-head">
              <h2 class="head-title">MT4 TRADING</h2>
              <div class="head-text">The trading platform. Download<br/>
                and start trading now
              </div>
            </div>
            <div class="item-content">
              <div class="card-img card-img_left">
                <img src="img/block-cards/card-1.png" alt="">
              </div>
            </div>
            <div class="item-buttons item-buttons_card-1 button-bar">
              <a class="btn btn_border bg-gray_light" href="">
                <i class="svg-icon-download"></i> Download
              </a>
              <a class="btn btn_yellow" href="">
                <i class="svg-icon-user"></i> Login
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 card-item-wrapper">
          <div class="card-item">
            <div class="item-hover">
              <div class="hover-title">WHY USE INFIFOX MOBILE?</div>
              <div class="hover-text">MT4 mobile allows you to trade on the go</div>
              <ul class="hover-list">
                <li>Full MT4 trading</li>
                <li>Blistering latensy and relyability</li>
                <li>Market execution, no reqoutes and no rejection</li>
                <li>One Click Trading, Hedging and Scalping</li>
                <li>Unlimited Open position or Pending orders</li>
                <li>Flexible leverage from 1:1 — to 300:1</li>
              </ul>
            </div>
            <div class="item-head">
              <h2 class="head-title">MT4 mobile</h2>
              <div class="head-text">Trage on the go. Don’t miss the market.<br/>
                Dont’t miss themarket
              </div>
            </div>
            <div class="item-content">
              <div class="card-img card-img_center">
                <img src="img/block-cards/card-2.png" alt="">
              </div>
            </div>
            <div class="item-buttons button-bar">
              <a class="btn btn_yellow" href="">
                <i class="svg-icon-apple-fill"></i> App store

              </a>
              <a class="btn btn_yellow" href="">
                <i class="svg-icon-googlePlay"></i> google play
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 card-item-wrapper">
          <div class="card-item">
            <div class="item-hover">
              <div class="hover-title">WHY USE INFIFOX MOBILE?</div>
              <div class="hover-text">MT4 mobile allows you to trade on the go</div>
            </div>
            <div class="item-head">
              <h2 class="head-title">Range future</h2>
              <div class="head-text">The Latest financial trading instrument.<br/>
                Range futures is a revolutointo the marker
              </div>
            </div>
            <div class="item-content">
              <div class="card-img card-img_right">
                <img src="img/block-cards/card-3.png" alt="">
              </div>
            </div>
            <div class="item-buttons item-buttons_card-1 button-bar">
              <a class="btn btn_border bg-gray_light" href="">
                <i class="svg-icon-download"></i> Download
              </a>
              <a class="btn btn_yellow" href="">
                <i class="svg-icon-user"></i> Login
              </a>
            </div>
          </div>
        </div>
        <!---->
        <div class="col-md-4 col-sm-6 col-xs-12 card-item-wrapper">
          <div class="card-item">
            <div class="item-hover">
              <div class="hover-title">WHY USE INFIFOX MOBILE?</div>
              <div class="hover-text">MT4 mobile allows you to trade on the go</div>
              <ul class="hover-list">
                <li>Full MT4 trading</li>
                <li>Blistering latensy and relyability</li>
                <li>Market execution, no reqoutes and no rejection</li>
                <li>One Click Trading, Hedging and Scalping</li>
                <li>Unlimited Open position or Pending orders</li>
                <li>Flexible leverage from 1:1 — to 300:1</li>
              </ul>
            </div>
            <div class="item-head">
              <h2 class="head-title">Webtrader</h2>
              <div class="head-text">Trade Forex directly from your browser<br/>
                Start trading in just a couple of clicks
              </div>
            </div>
            <div class="item-content">
              <div class="card-img card-img_left">
                <img src="img/block-cards/card-1.png" alt="">
              </div>
            </div>
            <div class="item-buttons item-buttons_card-1 button-bar">
              <a class="btn btn_yellow w100p" href=""><i class="svg-icon-user"></i> Login</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 card-item-wrapper">
          <div class="card-item">
            <div class="item-hover">
              <div class="hover-title">WHY USE INFIFOX MOBILE?</div>
              <div class="hover-text">MT4 mobile allows you to trade on the go</div>
              <ul class="hover-list">
                <li>Full MT4 trading</li>
                <li>Blistering latensy and relyability</li>
                <li>Market execution, no reqoutes and no rejection</li>
                <li>One Click Trading, Hedging and Scalping</li>
                <li>Unlimited Open position or Pending orders</li>
                <li>Flexible leverage from 1:1 — to 300:1</li>
              </ul>
            </div>
            <div class="item-head">
              <h2 class="head-title">MT4 mobile</h2>
              <div class="head-text">Trage on the go. Don’t miss the market.<br/>
                Dont’t miss themarket
              </div>
            </div>
            <div class="item-content">
              <div class="card-img card-img_center">
                <img src="img/block-cards/card-4.png" alt="">
              </div>
            </div>
            <div class="item-buttons item-buttons_card-5 button-bar">
              <a class="btn btn_yellow w100p" href=""><i class="svg-icon-user"></i> Upgrate</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 card-item-wrapper">
          <div class="card-item">
            <div class="item-hover">
              <div class="hover-title">WHY USE INFIFOX MOBILE?</div>
              <div class="hover-text">MT4 mobile allows you to trade on the go</div>
              <ul class="hover-list">
                <li>Full MT4 trading</li>
                <li>Blistering latensy and relyability</li>
                <li>Market execution, no reqoutes and no rejection</li>
                <li>One Click Trading, Hedging and Scalping</li>
                <li>Unlimited Open position or Pending orders</li>
                <li>Flexible leverage from 1:1 — to 300:1</li>
              </ul>
            </div>
            <div class="item-head">
              <h2 class="head-title">Range future</h2>
              <div class="head-text">The Latest financial trading instrument.<br/>
                Range futures is a revolutointo the marker
              </div>
            </div>
            <div class="item-content">
              <div class="card-img card-img_right">
                <img src="img/block-cards/card-5.png" alt="">
              </div>
            </div>
            <div class="item-buttons item-buttons_card-1 button-bar">
              <a class="btn btn_border bg-gray_light" href="">How it works</a>
              <a class="btn btn_yellow" href=""><i class="svg-icon-connect"></i> Connect</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
