<div class="section section_seventh">
  <div class="tabs-block">
    <div class="tabs-nav">
      <div class="container">
        <ul class="tabs-list">
          <li data-tab="infinox" class="current">infinox</li>
          <li data-tab="trade">trade</li>
          <li data-tab="theory">theory</li>
          <li data-tab="mt4">mt4</li>
          <li data-tab="mt4-expert">mt4-expert</li>
          <li data-tab="cuboid-options">cuboid-options</li>
        </ul>
      </div>
    </div>
    <div class="tabs-nav tabs-nav_mobile">
      <div class="container">
        <select class="tabs-selectbox" name="" id="">
          <option value="" data-tab="infinox" class="current">infinox</option>
          <option value="" data-tab="trade">trade</option>
          <option value="" data-tab="theory">theory</option>
          <option value="" data-tab="mt4">mt4</option>
          <option value="" data-tab="mt4-expert">mt4-expert</option>
          <option value="" data-tab="cuboid-options">cuboid-options</option>
        </select>
      </div>
    </div>
    <div class="tabs-content">
      <div class="container">
        <div data-tab="infinox" class="row tab-item current">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tab-item-content">
              <div class="title">OUR BUSINESS IS BUILT
                ON INTEGRITY AND TRUST
              </div>
              <div class="list-wrap">
                <ul class="list">
                  <li>Our MISSION – to enable the personal ambitions and business goals
                    of FOREX traders and IBs, through underpinning dynamic products with comp
                    etitive trading parameters and a premium customer experience.
                  </li>
                  <li>One-on-one customer service 24/5 – Your own dedicated manager</li>
                  <li>Trade the World 46+ fx pairs, gold, silver, oil and global indices. Dealing desk
                    neutral for direct, real-time access to markets
                  </li>
                  <li>Cutting edge technology, speed, efficiency and reliability. Take Control
                    Straight through Processing (STP) for speed, efficiency and instant execution
                  </li>
                </ul>
              </div>
              <div class="button-bar">
                <div class="btn btn_yellow w-auto">DOWNLOAD FREE E-BOOK</div>
                <div class="btn btn_border w-auto">GO TO LEARNING CENTER</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="img"><img src="img/tabs/tab-infinox.jpg" alt=""></div>
          </div>
        </div>
        <div data-tab="trade" class="row tab-item">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tab-item-content">
              <div class="title">MT4 – WORLD LEADING</div>
              <div class="text">
                <p>Trade using MT4 (MetaTrader 4), the global standard for FOREX trading. Choose from INFINOX MT4 or
                  INFINOX MT4 EXPERT.
                </p>
                <p>Both deliver speed-of-light MT4 transactions, using the latest cloud acceleration and content
                  delivery networks to connect data feeds and enable trade processing at blistering latency and
                  reliability levels.</p>
                <p> With INFINOX MT4, you can manage unlimited risk and potential returns. Deploy unlimited Expert
                  Advisors (EAs) and your own financial analysis tools.</p>
                <p>Or upgrade to INFINOX MT4 EXPERT for improved competitive edge. Both are available as desktop and
                  smartphone clients.</p>
              </div>
              <a class="btn-gradient" href="">
                <div class="text-top">Start trading now</div>
                <div class="text-bottom">*demo account included</div>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="img"><img src="img/tabs/tab-trade.jpg" alt=""></div>
          </div>
        </div>
        <div data-tab="theory" class="row tab-item">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tab-item-content">
              <div class="title">WHAT IS FOREX?</div>
              <div class="text">
                <p>
                  Forex as in industry has a reported over $5 trillion a day turnover, with trading in many locations
                  and exchanges 24 hours a day from Sunday night through to Friday night. Foreign exchange trading
                  enables you to take advantage of rate fluctuations across a wide range of currencies. Forex pricing is
                  based on the price relationship between two currencies, such as GBP/USD. Each such relationship is
                  called a pair. You speculate on whether the price of one country's currency will rise or fall against
                  the currency of another country, and take a position accordingly.
                </p>
              </div>
              <div class="button-bar">
                <div class="btn btn_yellow w-auto">DOWNLOAD FREE E-BOOK</div>
                <div class="btn btn_border w-auto">GO TO LEARNING CENTER</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="img"><img src="img/tabs/tab-theory.jpg" alt=""></div>
          </div>
        </div>
        <div data-tab="mt4" class="row tab-item">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tab-item-content">
              <div class="title">META TRADER 4 – THE BEST
                FOREX TRADING PLATFORM
              </div>
              <div class="text">
                <p>Trade using MT4 (MetaTrader 4), the global standard for FOREX trading. Choose from INFINOX MT4 or
                  INFINOX MT4 EXPERT</p>
                <p>Both deliver speed-of-light MT4 transactions, using the latest cloud acceleration and content
                  delivery networks to connect data feeds and enable trade processing at blistering latency and
                  reliability levels.</p>
                <p>With INFINOX MT4, you can manage unlimited risk and potential returns.
                  Deploy unlimited Expert Advisors (EAs) and your own financial analysis tools.</p>
                <p>Or upgrade to INFINOX MT4 EXPERT for improved competitive edge. Both are available as desktop and
                  smartphone clients.</p>
              </div>
              <div class="button-bar">
                <div class="btn btn_yellow w-auto">DOWNLOAD</div>
                <div class="btn btn_border w-auto">Request demo</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="img"><img src="img/tabs/tab-mt4.png" alt=""></div>
          </div>
        </div>
        <div data-tab="mt4-expert" class="row tab-item">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tab-item-content">
              <div class="title">META TRADER 4 EXPERT:
                GREATER EFFICIENCY & MANAGED RISK
              </div>
              <div class="text">
                <p>For precision, upgrade to INFINOX MT4 EXPERT –
                  a trading terminal that rivals the most advanced, institutional platforms.</p>
              </div>
              <div class="list-wrap">
                <div class="list-title">Features include:</div>
                <ul class="list">
                  <li>Raw MT4 execution speeds</li>
                  <li>Embedded global news and industry leading analysis</li>
                  <li>Alarm Manager for alerts and automated trading</li>
                  <li>Correlation Matrix to replace spreadsheet tools</li>
                  <li>Correlation Trader triggered by market charts</li>
                  <li>Run Excel RTD trading commands from VBA</li>
                  <li>Trade from graphic market symbols with Market Manager</li>
                  <li>Multitask multiple positions from one MT4 frame</li>
                  <li>Trade current/historic sentiments with Sentiment Trader</li>
                  <li>Session Map for global insight</li>
                </ul>
              </div>
              <div class="button-bar">
                <div class="btn btn_yellow w-auto">DOWNLOAD</div>
                <div class="btn btn_border w-auto">Request demo</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="img"><img src="img/tabs/tab-mt4-expert.png" alt=""></div>
          </div>
        </div>
        <div data-tab="cuboid-options" class="row tab-item">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="tab-item-content">
              <div class="title">RANGE FUTURES – NEW EXCITING
                FINANCIAL INSTRUMENT
              </div>
              <div class="text">
                <p>INFINOX CUBOID is a new foreign exchange instrument. Early mover advantage for companies that are
                  appropriately regulated. Opens a new category. Alongside CFDs, FOREX, binary options and share
                  trading.</p>
                <p>Invest in an underlying asset by setting a price range (max-min) in the future (start-stop).</p>
                <p> If the value of the asset is within the price range during you future time period, you make a full
                  return on your investment.</p>
                <p>If the asset price is only within the price range for a part of the future time, you pro rata make a
                  smaller return.</p>
                <p>If the asset price never is within the price range, you make no return - but you cannot lose more
                  than you invest.</p>
              </div>
              <div class="button-bar">
                <div class="btn btn_yellow w-auto">TRY CUBOID NOW</div>
                <div class="btn btn_border w-auto">How it works</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="img"><img src="img/tabs/tab-cuboid.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
