<div class="section section_sixth">
  <div class="icons-block">
    <div class="container">
      <div class="row icons-items">
        <div class="col-md-2 col-sm-4 col-xs-12 item bounceInUp">
          <div class="icon svg-icon-mixer"></div>
          <div class="name">British Framework</div>
          <div class="text">
            We’re regulated by the UK’s Financial Conduct Authority. All client deposits are held in Barclays Bank and
            are protected – up to £50,000 – by the FSCS
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 item bounceInUp">
          <div class="icon svg-icon-network"></div>
          <div class="name">Fast infrastructure</div>
          <div class="text">
            All formats use the latest cloud acceleration and content delivery networks to connect data feeds and enable
            trade processing.
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 item bounceInUp">
          <div class="icon svg-icon-user-2"></div>
          <div class="name">Premium Experience</div>
          <div class="text">
            First-class technology combine with outstanding customer service to create a premium customer experience.
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 item bounceInUp">
          <div class="icon svg-icon-touch"></div>
          <div class="name">Accessibility</div>
          <div class="text">
            Practice accounts available for all new customers and we have an ever-expanding, extensive range of tools to
            aid your training and enhance your skill
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12 item bounceInUp">
          <div class="icon svg-icon-database"></div>
          <div class="name">Competitive Pricing</div>
          <div class="text">
            We offer PIPs as low as 0.4 and leverage of up to 300:1. No commission trading. Deposits can be as low as
            £100
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
