<div class="section section_third">
  <div class="trading-block">
    <div class="container trading-info-wrapper">
      <div class="row trading-info">
        <div class="col-md-4 col-sm-6 col-xs-12 info-left anLeft">
          <div class="title-sub-icon white">Trading<br/> power <i class="icon svg-icon-tower"></i></div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12 info-right anRight">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 info-item-wrapper">
              <div class="info-item">
                <div class="top">Already traded in 2016</div>
                <div class="bottom">£100,000,000.00</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 info-item-wrapper">
              <div class="info-item">
                <div class="top">FCA authorised and regulated</div>
                <div class="bottom">since 2009</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="trading-button">
        <div class="btn btn_yellow anLeft">About Infinox</div>
      </div>
    </div>
  </div>
</div>
